<!--The content below is only a placeholder and can be replaced.-->
<div class="form">
      
  <ul class="tab-group">
    <li class="tab"  [class.active]="currentPage==='signup'" ><a href="javascript:void(0)" (click)="currentPage='signup' ">Sign Up</a></li>
    <li class="tab" [class.active]="currentPage==='login'"><a href="javascript:void(0)" (click)="currentPage='login' ">Log In</a></li>
  </ul>
  
  <div class="tab-content" >
    <div id="signup" [hidden]="currentPage!=='signup' ">   
      <h1>Sign Up for Free</h1>
      
      <form action="/" method="post" [formGroup]="signupForm" (submit)="signupSubmitted=true;">
      
      <div class="top-row">
        <div class="field-wrap">
          <label [class]="fn.activeClasses">
            First Name<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" [appActiveHighlight]="'active hightlight'"  #fn='highlight' autocomplete="off"   formControlName="firstName"/>

          <span class="errors" *ngIf="firstName.errors && firstName.dirty">
            <em *ngIf="firstName.errors.required">Firstname is required</em>
            <em *ngIf="firstName.errors.minlength">Minimal length is 4 symbols</em>
            <em *ngIf="firstName.errors.nospecial">Type only letters</em>
          </span>
        </div>
        
        <div class="field-wrap">
          <label [class]="ln.activeClasses">
            Last Name<span class="req">*</span>
          </label>
          <input type="text"required autocomplete="off" [appActiveHighlight]="'active hightlight'"   #ln='highlight'  formControlName="lastName"/>
          <span class="errors" *ngIf="lastName.errors">
            <em *ngIf="lastName.errors.required && lastName.dirty"> Last Name is required</em>
            <em *ngIf="lastName.errors.minlength">Minimal length is 4 symbols</em>
            <em *ngIf="lastName.errors.nospecial">Type only letters</em>
          </span>
        </div>
      </div>
      

      <div class="field-wrap">
        <label [class]="eaddr.activeClasses">
          Email Address<span class="req">*</span>
        </label>
        <input type="email" required autocomplete="off" [appActiveHighlight]="'active hightlight'"   #eaddr='highlight'  formControlName="email"/>
        <span class="errors" *ngIf="email.errors">
          <em *ngIf="email.errors.required && lastName.dirty"> email is required</em>
          <em *ngIf="email.errors.email">Email format should be here</em>
          <em *ngIf="email.errors.userrequired">User already exists</em>

        </span>
      </div>
      
      
      <div class="field-wrap">
        <label [class]="pwddir.activeClasses">
          Set A Password<span class="req">*</span>
        </label>
        <input type="password"required autocomplete="off" [appActiveHighlight]="'active hightlight'"   #pwddir='highlight' formControlName="pwd1"/>
        <span class="errors" *ngIf="pwd1.errors">
          <em *ngIf="pwd1.errors.required && lastName.dirty"> password is required</em>
          <em *ngIf="pwd1.errors.minlength">Minimal length is 6 symbols</em>
          
        </span>
      </div>
      
      <button type="submit" class="button button-block" [disabled]="!signupForm.valid &&!signupSubmitted" >{{ signupSubmitted ? "You successfully signed up!": "Get Started"}}</button>
            
      </form>

    </div>
    
    <div id="login" [hidden]="currentPage!=='login' ">   
      <h1>Welcome Back!</h1>
      
      <form action="/" method="post" [formGroup]="loginForm" (submit)="loginSubmitted=true;">
      
        <div class="field-wrap">
        <label  [class]="eaddr2.activeClasses">
          Email Address<span class="req">*</span>
        </label>
        <input type="email"required autocomplete="off" [appActiveHighlight]="'active hightlight'"   #eaddr2='highlight' formControlName='email2'/>
        <span class="errors" *ngIf="email2.errors">
            <em *ngIf="email2.errors.required && lastName.dirty"> email is required</em>
            <em *ngIf="email2.errors.email">Email format should be here</em>
            <em *ngIf="email2.errors.userrequired">User does not exists</em>
  
          </span>
      </div>
      
      <div class="field-wrap">
        <label [class]="pwddir2.activeClasses">
          Password<span class="req">*</span>
        </label>
        <input type="password"required autocomplete="off" [appActiveHighlight]="'active hightlight'" #pwddir2='highlight' formControlName='pwd2'/>
        <span class="errors" *ngIf="pwd2.errors">
            <em *ngIf="pwd2.errors.required && lastName.dirty"> password is required</em>
            <em *ngIf="pwd2.errors.minlength">Minimal length is 6 symbols</em>            
          </span>
      </div>
      
      <p class="forgot"><a href="#">Forgot Password?</a></p>
      
      <button class="button button-block" [disabled]="!loginForm.valid &&!loginSubmitted" >{{ loginSubmitted ? "You successfully logged in!": "Log in"}}</button>
            
      </form>

    </div>
    
  </div><!-- tab-content -->
  
  
</div> <!-- /form -->

